
.WorksSectionHeader {
    width: 27vw;
    height: 10vh;
    background: linear-gradient(to right, #0400CB, #090909);
    display: flex;
    align-items: center;
    justify-content: left;
}

.WorksSectionHeader p {
    margin-left: 1.5vw;
    font-size: 3vw;
    background: -webkit-linear-gradient(
        0deg,
        #030172,  
        #090909
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.WorksContainer {
    height: 90vh;
    justify-content: center;
    align-items: top;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    gap: 6%;
    margin: 8% 0;
}

.WorksProject h2 {
    font-size: 1.95vw;
    font-weight: 500;
    margin-bottom: 1%;
}

.WorksProject h3 {
    font-size: 1.75vw;
    font-weight: 500;
    opacity: 0.5;
    margin: 0;
    margin-bottom: 5%;
}

.WorksProject h4 {
    font-size: 1.19vw;
    font-weight: 400;
    margin: 0;
    margin-bottom: 4%;
}

.WorksProject h5 {
    font-size: 1.19vw;
    font-weight: 500;
    margin: 0;
    text-decoration: underline;
}

.WorksProjectType {
    display: flex;
}

.WorksProjectType img {
    width: 6%;
    height: 6%;
    margin-left: 2%;
}