
.AboutMeSectionHeader {
    width: 27vw;
    height: 10vh;
    background: linear-gradient(to right, #CB0000, #090909);
    display: flex;
    align-items: center;
    justify-content: left;
}

.AboutMeSectionHeader p {
    margin-left: 1.5vw;
    font-size: 3vw;
    background: -webkit-linear-gradient(
        0deg,
        #560000,  
        #090909
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.AboutMeContainer {
    height: 90vh;
    align-content: center;
}

.AboutMeGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10vw 0;
}

.AboutMeGridItem {
    justify-self: center;
    justify-content: center;
    width: 60%;
    display: flex;
    align-items: center;
    margin: 3% 0;
}

.AboutMeGridItem img {
    position: relative;
    bottom: 70%;
}

.AboutMeGridItem u {
    transition: filter 0.3s ease-in-out;
}

.AboutMeGridItem u:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

#music {
    width: 20%;
}

#language {
    width: 18%;
    margin-right: 3%;
}

#code {
    width: 30%;
    margin-right: -5%;
    margin-left: -5%;
}

#education {
    width: 18%;
    margin-right: 3%;
}

.AboutMeGridItem p {
    width: 80%;
    font-size: 1.2vw;
    margin: 0;
    padding-bottom: 0;
    padding-top: auto;
    align-self: first baseline;
}

