
.Banner {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.BannerTextContainer {
    max-width: 37vw;
}

.BannerTextContainer h1 {
    font-size: 5vw;
    font-weight: 500;
    margin: 0px;
}

.BannerTextContainer h2 {
    font-size: 1.55vw;
    font-weight: normal;
    margin-bottom: 0px;
}

.BannerImageContainer {
    max-width: 27vw;
}

.BannerImageContainer img {
    width: 100%;
}